<!-- Images of local farms -->
<div class="farms">
  <div id="farm1">
    <%= image_tag "http://i.imgur.com/UPDsBJW.jpg" %>
    <h3><p>Jones Family Farm</p></h3>
  </div>
  <div id="farm2">
    <%= image_tag "http://i.imgur.com/3WSIpbc.png" %>
    <h3><p>Norman's Farm</p></h3>
  </div>
  <div id="farm3">
    <%= image_tag "http://i.imgur.com/BoXfiep.jpg" %>
    <h3><p>Gorman Produce Farm</p></h3>
  </div>
</div>
