<!-- display crop name -->
<h2>My name is <%= @crop.name %>. <%= link_to "Edit", edit_crop_path(@crop) %></h2>

<!-- display season to plant -->
<h3>I prefer to be planted in <%= @crop.season.name %>!</h3>
<%= image_tag @crop[:img_url] %>

<!-- display scientific name -->
  <!-- update seed data -->
