<!-- display crop name -->
<h2><%= @crop.name %></h2>

<!-- display scientific name -->
  <!-- need to add parameter -->
  <!-- update seed data -->
<!-- display season to plant -->
<!-- add edit -->
<!-- add delete  -->
