<!-- display crop name -->
<h2>My name is <%= @crop.name %>.</h2>
<!-- display season to plant -->
<h3>I prefer to be planted in <%= @crop.season.name %>!</h3>



<!-- display scientific name -->
  <!-- update seed data -->

<!-- add edit -->
<!-- add delete  -->
