/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  background-color:#3C3530;
  /*color:#FFFFFF;*/
  /*background-color: #011627;
  color: #EFFFE9;*/
  /*background-color: #004e66;*/
  color: #e1eef6;
  /*color: #fcbe32;*/
  /*color: #ff5f2e;*/
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
 }

 h1 {
   /*font-family: 'Lobster', cursive;*/
   /*font-family: 'Lobster Two', cursive;*/
   /*font-family: 'Lovers Quarrel', cursive;*/
   font-family: 'Fredericka the Great', cursive;
   /*font-family: 'Ribeye Marrow', cursive;*/
   font-size: 75px;
 }

a:link, a:visited {
  color: #EC7357;
}

.form {
   align-items: center;
 }
